In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [4]:
df = spark.read.json('../../SparkData/people.json')

In [5]:
# automatically replaces missing data with null
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [28]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [39]:
# pass a name to the field
# pass in class instance (change from long to int)
# bool for whether field can be NULL
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [40]:
final_struc = StructType(fields=data_schema)

In [41]:
# use this if you ever have trouble and need to define manual schema
df = spark.read.json('../../SparkData/people.json', schema=final_struc)

In [42]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [43]:
# returns a column
type(df['age'])

pyspark.sql.column.Column

In [44]:
# returns a dataframe
df.select('age')

DataFrame[age: int]

In [45]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [46]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [47]:
df.head(2)[0]

Row(age=None, name='Michael')

In [48]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [50]:
# define columns
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [53]:
# create new dataframe with new column
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [56]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [57]:
# must define an inplace operation to ensure changes
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [58]:
df.createOrReplaceTempView('people')

In [59]:
results = spark.sql("SELECT * FROM people")

In [60]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [61]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [62]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+