In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [14]:
# create a sparksession (windows specific)
spark = SparkSession.builder \
    .master("local") \
    .appName("SparkSQL") \
    .config("spark.sql.warehouse.dir", "file:///C:/temp") \
    .getOrCreate()

In [18]:
def mapper(line):
    fields = line.split(',')
    # create Row objects for each field
    return Row(ID=int(fields[0]),
               # beware of encodes as bytes are not an acceptable input type
               name=fields[1], 
               age=int(fields[2]), 
               numFriends=int(fields[3]))

In [19]:
lines = spark.sparkContext.textFile("../../SparkData/fakefriends.xls")
people = lines.map(mapper)

In [20]:
# infer the schema
# needs to be cached because we are re-using people schema
schemaPeople = spark.createDataFrame(people).cache()

# create a temp SQL table in memory
schemaPeople.createOrReplaceTempView("people")

In [29]:
# show the first n rows of DataFrame
schemaPeople.show(5)

+---+---+--------+----------+
| ID|age|    name|numFriends|
+---+---+--------+----------+
|  0| 33|    Will|       385|
|  1| 26|Jean-Luc|         2|
|  2| 55|    Hugh|       221|
|  3| 40|  Deanna|       465|
|  4| 68|   Quark|        21|
+---+---+--------+----------+
only showing top 5 rows

In [22]:
# run SQL on the DataFrame
teenagers = spark.sql("SELECT * FROM people WHERE age >= 13 AND age <= 19")

In [24]:
# result of queries are RDDs that support regular RDD operations
for teen in teenagers.collect():
    print(teen)

Row(ID=21, age=19, name='Miles', numFriends=268)
Row(ID=52, age=19, name='Beverly', numFriends=269)
Row(ID=54, age=19, name='Brunt', numFriends=5)
Row(ID=106, age=18, name='Beverly', numFriends=499)
Row(ID=115, age=18, name='Dukat', numFriends=397)
Row(ID=133, age=19, name='Quark', numFriends=265)
Row(ID=136, age=19, name='Will', numFriends=335)
Row(ID=225, age=19, name='Elim', numFriends=106)
Row(ID=304, age=19, name='Will', numFriends=404)
Row(ID=341, age=18, name='Data', numFriends=326)
Row(ID=366, age=19, name='Keiko', numFriends=119)
Row(ID=373, age=19, name='Quark', numFriends=272)
Row(ID=377, age=18, name='Beverly', numFriends=418)
Row(ID=404, age=18, name='Kasidy', numFriends=24)
Row(ID=409, age=19, name='Nog', numFriends=267)
Row(ID=439, age=18, name='Data', numFriends=417)
Row(ID=444, age=18, name='Keiko', numFriends=472)
Row(ID=492, age=19, name='Dukat', numFriends=36)
Row(ID=494, age=18, name='Kasidy', numFriends=194)

In [27]:
# can also use functions instead of SQL queries
schemaPeople.groupBy("age").count().orderBy("age").show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows